<h1>Dream team</h1>




  <div class="container">
    <div class="row row-cols-1 row-cols-lg-1 g-1 g-lg-1">
      <div class="col">
        Molibdenowy Mateusz
        <div class="p-3 border bg-light">
           
        
            <div class="container">
                <div class="row">
                  <div class="col-3">
                    
                    <img src="https://board.pl.ogame.gameforge.com/wcf/images/avatars/8e/18794-8e25fade77552f392e7b43ad8ee0e573026b30a5.jpg" class="rounded-circle" alt="Cinque Terre" width="144" height="144"> 
                 </div>
                  <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                </div>
              </div>
        
        
        
        
        
        
        </div>
      <div class="col">
        Tytanowy Janusz
        <div class="p-3 border bg-light">
            
            <div class="container">
                <div class="row">
                  <div class="col-3">
                    
                    <img src="https://profile-images.xing.com/images/58489d8795d0cad3895ead50a5015d59-1/janusz-tytanowy.256x256.jpg" class="rounded-circle" alt="Cinque Terre" width="144" height="144"> 
                  </div>
                  <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                </div>
              </div>
      
      
      
      
        </div>
      <div class="col">
        Szef szefow
        <div class="p-3 border bg-light">

            <div class="container">
                <div class="row">
                  <div class="col-3">
                    <img src="https://i.ytimg.com/vi/3dnb2d9v6w8/maxresdefault.jpg" class="rounded-circle" alt="Cinque Terre" width="144" height="144"> 
           
                  </div>
                  <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </div>
                </div>
              </div>




        </div>
      </div>
    </div>
  </div>

