<span style="font-size: xx-large"><p style="text-align: center">Technologia którą wykorzystujemy</p></span>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="technologia">Opis</a>
      
      
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="technology1">Technology1</a>
     
      At vero eos et accusamus et iusto odio dignissimos ducimus 
    
    </li>
    <li class="nav-item">
      <a class="nav-link" href="technology2">Technology2</a>
    </li>
   </ul>
