    <h1>ABC Technology</h1>
    
 



<div class="p-3 mb-2 bg-secondary  text-white">
<div class="container">
  
  

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:black">Strona główna</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="team" style="color:black">Nasz team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="realizacje" style="color:black">Realizacje</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="technologia" style="color:black">Technologie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pracownik" style="color:black">Pracownicy</a>
  </li>
</ul>

</div>
</div>


<router-outlet></router-outlet>