    <h1>Nowa strona</h1>




<div class="p-3 mb-2 bg-secondary text-white">
<div class="container">
    
    <div class="row">
        <div class="col">
            <p class="text-danger">
            <a href="">Strona główna</a>
            </p>
          </div>
        <div class="col">
           <a href="team">Nasz zespół</a>
         </div>
         <div class="col">
           <a href="realizacje">Realizacje</a>
         </div>
         <div class="col">
           <a href="technologia">Technologia</a>
          </div>
    </div>                
  </div>
</div>

<router-outlet></router-outlet>